.cardInfo{
  font-size:11px;
}

.cardInfo i{
  margin-right: 10px;
}

.teamName{
  margin-right: 10px;
  background: #d1f1d1;
  color:white;
  padding:2px 5px;
}

.date{
  position: absolute;
  right: 10px;
  color:#212121;
}